<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Color Detector</title>
</head>
<body>
	<header id="top-bar">
		<h1 class="title">Color Detector</h1>
	</header>
	<section id="app">
	<div id="large-container">
		<div id="image-container">
			<h2 class="demo">Demo</h2>
			<img src="../static/test_2.jpg" width="100%" alt="test image" id="ex-img"/>
		</div>

	<table class="table">
        <thead>
		    <tr><th>Color</th><th>Color Code</th><th>Percentage</th></tr>
        </thead>
        <tbody>
            {% for color in color_data %}
		    <tr><td style="background-color:{{ color['hex'] }}"></td><td>{{color['hex']}}</td><td>{{color['percentage']}}</td></tr>
            {% endfor %}
        </tbody>
	</table>

	<form action="/color_extract#demo" method="post" enctype="multipart/form-data">
		<fieldset class="information">
		<div>
		<label class="label" for="imgFile">File to upload: <input type="file" name="imgFile" id="imgFile"  class="form-control"/></label>
		</div>
		<div>
		<label class="label" for="num_results">Number of colors:</label>
			<input type="text" name="num_results" id="num_results" value="10" class="form-control"/>
		</div>
		<div>
		<label class="label" for="delta">delta:</label>
			<input type="text" name="delta" id="delta" value="24" class="form-control"/>
			(1-255)
		</div>
		<div class="radio">
         <div class="form-group row">
    <label class="col-sm-3">Reduce Brightness:</label>
            <label>
			<input type="radio" name="reduce_brightness" checked="checked" value="true" />Yes
            <label>
            </label>
			<input type="radio" name="reduce_brightness"  value="false" />No
            </label>
		</div>
		</div>
		<div class="radio">
         <div class="form-group row">
    <label class="col-sm-3">Reduce gradient:</label>
            <label>
			<input type="radio" name="reduce_gradient" checked="checked" value="true" />Yes
            </label>
            <label>
			<input type="radio" name="reduce_gradient"  value="false" />No
            </label>
		</div>
		</div>
		</fieldset>
		<div class="buttons">
			<input type="submit" name="submit" value="Run" />
			<input type="hidden" name="action" value="run" />
			<input type="hidden" name="ext" value="jpg" />
			<input type="hidden" name="rand" value="" />
		</div>
	</form>
    </div>
    </section>
</body>
</html>